# Posthog stuff
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=
# Sam Altman :(
OPENAI_API_KEY=
# Key known by davidasix to access restricted resources
PASSKEY=
# Encryption key for passkey
PASSKEY_ENCRYPTION_KEY=
# RapidAPI for YT transcripts
RAPIDAPI_KEY=
# Postgres DB string
DATABASE_URL=
# Direct Postgres DB string used for migrations
MIGRATION_DATABASE_URL=
