.headerImageContainer {
    width: 100%;
    max-height: 40vh;
}

.headerImage {
    object-fit:contain;
    max-width: 100%;
    max-height: 40vh;
}

.headerImageBg {
    object-fit: cover;
    width: 100%;
    opacity: 40%;
    filter: blur(4px);

}