.grow {
  transition: all .1s ease-in-out;
}

.grow:hover {
  transform: scale(1.025);
}

.clickable:hover { cursor: pointer; }

.muted {
  color: var(--fg-muted);
  border-color: var(--fg-muted);
}

.stickyParent {
  position: relative !important;
  overflow: visible !important;
}

.section {
  background-color: var(--background);
  width: 100%;
  overflow: hidden;
  position: relative;
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
  border-radius: 1rem;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(84, 28%, 80%);
  }
  100% {
    background-color: hsl(84, 28%, 95%);
  }
}
