* {
  font-weight: 400;
  font-size: inherit;
  font-family: 'Satoshi', sans-serif;
  color: var(--light);
}

html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background: 
    linear-gradient(rgba(26,26,26,0.95), rgba(26,26,26,0.95)),
    url("/images/bg-tile.png") repeat;
  background-color: var(--dark);
}

.headerFont {
  font-family: '', sans-serif, serif;
}

span, b, strong, i, em, mark, small, del, ins, sub, sup, s {
  color: inherit;
  font-family: inherit;
  margin: inherit;
  padding: 0px;
}

h1, h2, h3, h4, h5, h6, p, img {
  margin: 0px;
  padding: 0px;
}

.hover {
  text-decoration: none;
  color: var(--fg-muted);
  transition: color 0.2s ease-in-out, 
              background-color 0.15s ease-in-out, 
              border-color 0.15s ease-in-out,
              fill 0.15s ease-in-out
}

.hover:hover {
  color: var(--primary) !important;
  border-color: var(--primary) !important;
  fill: var(--primary) !important;
}

.hover.hover-secondary:hover {
  color: var(--secondary) !important;
  border-color: var(--secondary) !important;
  fill: var(--secondary) !important;
}

.hover.hover-muted:hover {
  color: var(--muted-dark) !important;
  border-color: var(--muted-dark) !important;
  fill: var(--muted-dark) !important;
}

.hover.hover-muted-light:hover {
  color: var(--muted) !important;
  border-color: var(--muted) !important;
  fill: var(--muted) !important;
}

.hover.hover-danger:hover {
  color: var(--danger) !important;
  border-color: var(--danger) !important;
  fill: var(--danger) !important;
}

.grow {
  transition: all 0.2s ease-in-out;
  transform-origin: center;
}

.grow:hover {
  transform: scale(1.01);
}


/* Stealth Buttons are clickable text that are not clear to be clickable, as they do not have muted text color */
.stealth-btn {
  color: var(--fg);
  transition: color 0.2s ease-in-out, 
              background-color 0.15s ease-in-out, 
              border-color 0.15s ease-in-out,
              fill 0.15s ease-in-out
}

.stealth-btn:hover {
  color: var(--primary);
}

.nav-padding {
  padding-top: var(--nav-height);
}

@media screen and (min-width: 1400px) {
  /* xxl breakpoint >= 1400 */
  /* Styles here are in effect when page is 1401px wide or wider */
}

@media screen and (min-width: 1200px) {
  /* xl breakpoint, 1200px -> 1399px */
  /* Styles here are in effect when page is 1400px wide or wider */
}

@media screen and (min-width: 992px) {
  /* lg breakpoint, 992px -> 1199px */
  /* Styles here are in effect when page is 1200px wide or wider */
  .navContentContainer {
      max-width: unset;
  }
}
@media screen and (min-width: 768px) {
  /* md breakpoint, 768px -> 991px */
  /* Styles here are in effect when page is 992px wide or wider */
}

@media screen and (min-width: 576px) {
  /* sm breakpoint, 576px -> 767px */
  /* Styles here are in effect when page is 768px wide or wider */
}

@media screen and (max-width: 576px) {
  /* xs breakpoint, 0px - 576px */
  /* Styles here are in effect when page is 576px wide or wider */
}
