
:root, [data-theme="light"] {
  --primary: #cb5858;
  --secondary: #6c757d;
  --fg: #333;
  --fg-muted: #8b9097;
  --background: #fff;
  --modal-bg: #eee;
}

:root, [data-theme="dark"] {
  --primary: #cb7373;
  --fg: #fff;
  --fg-muted: #abafb4;
  --background: #333;
  --modal-bg: #444;
}

:root {
  --nav-height: 70px;
  /* Cycberpunk Palette */
  --cp-pink: #E652E6ff;
  --cp-blue: #1E86C9ff;
  --cp-purple: #8B74B3ff;
  --cp-dark-blue: #052F4Dff;
  --cp-salmon: #FA969Bff;
  --cp-orange: #FE8D37ff;

  --cp-pink: hsla(300, 75%, 61%, 1);
  --cp-blue: hsla(204, 74%, 45%, 1);
  --cp-purple: hsla(262, 29%, 58%, 1);
  --cp-dark-blue: hsla(205, 88%, 16%, 1);
  --cp-salmon: hsla(357, 91%, 78%, 1);
  --cp-orange: hsla(26, 99%, 61%, 1);
}

* {
  font-weight: 400;
  font-size: inherit;
  font-family: 'Quicksand', sans-serif;
  color: var(--fg);
}

html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

h1 {
  font-family: 'Baron Neue', sans-serif;
}

.headerFont {
  font-family: 'Baron Neue', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 0px;
}

@media screen and (max-width: 991px) {
  /* Cell Phone Tablet */
}

@media screen and (max-width: 767px) {
  /* Cell Phone Landscape */
}

@media screen and (max-width: 479px) {
  /* Cell Phone Portrait */
}

a {
  text-decoration: none;
  color: var(--fg-muted);
}
a:hover {
  color: var(--fg);
}