:root {
  --nav-height: 72px;
  --white: #FFFFFF;
  --primary: #47387a;
  --secondary: #4360a3;
  /*--tretiary: #A17CDC;*/
  --success: #2C9636;
  --danger: #962C2C;
  --dark: #1A1A1A;
  --light: #F2F2F2;
  --muted: #d3d3d3;
  --muted-dark: #272727;
  --modal: #b4ada6;
}

/*
[data-theme="dark"] {
}

[data-theme="light"] {
}
*/