.headshotContainer {
  position: relative;
  width: 80%;
  max-width: 500px;
  aspect-ratio: 3/4;
}

.headshot {
  position: absolute;
  object-fit: contain;
  width: 100%;
}

.socialRow {
  position: absolute;
  bottom: 0; /*calc(-75px / 2);*/
  width: 100%;
  height: 75px
}

.socialSpacer {
  width: 100%;
  height: calc(75px / 2);
}

.socialContainer {
  height: 75px;
  aspect-ratio: 1;
}
